.HomeBanner {
    
    .banner {
        height: 100%;
        
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-1 {
        background-image: url(./img/banner_1.jpg);
    }
    .banner-2 {
        background-image: url(./img/banner_2.jpg);
    }
    
    
}
