$border-color: #d9d9d9;
$font-color: #4d545c;

.ApartmentListContent {
  overflow: auto;
  width: 100%;
  color: $font-color;
  z-index: 100;
  .results {

    padding-top: 15px;
    padding-bottom: 10px;
    color: $font-color;
    font-size: 11px;
    border-bottom: 1px solid $border-color;

    .number {

      display: inline-block;
      padding: 0 6px;
      color: #2dd19d;

    }

  }

  .no-find-apartment {

    color: #75767b;
    font-size: 14px;

    .text {

      background-color: #ffffff;
      text-align: center;
      padding: 31px 15px;

      .name {

        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
        font-weight: bold;
        color: #4d545c;

      }

    }

    .hd {

      height: 40px;
      line-height: 40px;
      padding-left: 15px;

    }

  }

}