.Home {
    
    
    .Home-header {
        padding: 20px;
    }
    
    .Home-banner {
        padding: 20px;
    }
    
    .Home-action {
        padding: 20px;
    }
    
    .Home-recommend {
        padding: 20px;
    }
    
    .Home-qa {
        padding: 20px;
    }
}
