.Feedback {
    
    text-align: left;
    
    
    .title {
        text-align: center;
    }
    
    .btn-content {
        padding: 20px 0;
        background-color: #efeff4;
    }

}


/**
     * 来自lm-ui
 */

    
    /*表单顶部提示*/
    .lm-ui-top-tips {
        font-size: 12px;
        color: #ffc666;
        background: #fff1d8;
        padding: 8px 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .lm-ui-label > span {
        font-weight: bold;
    }
    
    /*按钮*/
    .btn-content{
        font-size:16px;
    
        > div{
            //margin-top: 20px;
            padding: 0 14px;
            text-align: center;
        }
        .box{
            display: -webkit-box;
            div{
                -webkit-box-flex: 1;
            }
    
        }
    
        .lm-ui-btn-long{
            margin: 0px;
        }
        .btn-link a{
            margin-left: 20px;
        }
        .hide{
            display: none;
        }
        
        /**
         * 覆盖lm-ui
         */
        .lm-ui-btn-primary {
            background-color: #2dd19d;
            border-color: #2dd19d;
        }
    }
    
    .form-title {
    
        font-size: 14px;
        color: #4d545c;
        font-weight: bold;
        padding: 10px 14px;
        position: relative;
        line-height: 20px;
        background-color: #fff;
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 2px;
            height: 20px;
            background-color: #ff552e;
            margin-top: -1px;
        }
    
    }
    
    
    
    .cards {
        margin-bottom: 10px;
    }
    
    .cards:last-child {
        margin-bottom: 0;
    }
    