.ApartmentButton{
  .btn{
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    height: 49px;
    line-height: 49px;
    width: 100%;
    color: white;
    background-color: #2dd19d;
    font-size: 16px;
  }
}